@media(max-width:576px) {
  .person-view {
    padding: 10px;
  }

  .grid-view {
    .cellListEvenItem,
    .cellListOddItem {
      margin: 10px 0;
      padding: 10px 10px 80px;
      width: 100%;
    }
  }

  .button {
    font-size: 0.9rem;
  }

  .grid-content__controls {
    padding: 10px;

    .controls__title {
      margin-bottom: 10px;
      width: 100%;
    }

    .controls__nav {
      width: 100%;
    }

    .controls__button {
      margin-right: 4px;
      margin-bottom: 6px;
      margin-left: 0;
      padding-right: 8px;
      padding-left: 8px;
      font-size: 0.7rem;
    }
  }

  .person-list {
    padding: 10px;
  }

  .person-cell__content {
    font-size: 0.8rem;
  }

  .filter-toolbar__box {
    padding: 10px;
  }

  .table-view {
    .person-cell{
      padding-bottom: 30px;
    }
    .work .person-cell__item {
      width: 100%;
    }

    .person-cell__header {
      width: 130px;
      padding-bottom: 0;
      padding-right: 10px;
    }

    .person-cell__content {
      width: calc(100% - 130px);
      margin-bottom: 0;
    }

    .person-cell__nav {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }

  .person-cell__edit{
    top: 4px;
    right: 4px;
    font-size: 16px;
  }
}
