@media(max-width:992px) {
  .person-view {
    position: relative !important;
  }

  .filter {
    width: 100%;
    display: none;
  }

  .grid-content {
    width: 100%;
  }

  .open-filters{
    display: flex;
  }
}
