@media(max-width:768px) {
  .table-view {
    .cellListEvenItem,
    .cellListOddItem {
      margin: 30px 0;
      padding: 10px;
      width: 100%;
    }

    .person-cell__badges {
      left: 5px;
    }

    .personal-info__item {
      margin: 0 4px 4px 0;
    }

    .person-cell__profile {
      font-size: 0.8rem;
    }

    .person-cell__content{
      margin: -10px 0;
      padding: 10px;
    }

    .person-cell__item {
      font-size: 0.8rem;
    }
    .person-cell__nav{
      width: 230px;
      padding: 10px 5px;
    }
  }

  .open-filters{
    font-size: .7rem !important;

    .bi{
      font-size: .9rem;
    }
  }
}
