@media(max-width:1200px) {
  .grid-view {
    .cellListEvenItem,
    .cellListOddItem {
      width: calc(50% - 30px);
    }
  }

  .table-view{
    .person-cell__header{
      width: 220px;
    }

    .person-cell__content{
      width: calc(100% - 220px);
    }

    .person-cell__nav{
      width: 235px;  
    }
  }
}
